@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
}
.fill {
  fill: #14316a;
}
.phone {
  fill: white;
}
.root {
  background-color: black;
  color: #fff;
  font-family: monospace, sans-serif;
  max-width: 720px;
  /* min-height: 100%; */
  /* height: 100%; */
}

.navbar.navbar-light.bg-dark.fixed-top {
  background-color: black !important;
  z-index: 3;
}

/* ...........................SCROLLBAR...................................... */
::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-track {
  background-color: #050303;
}

::-webkit-scrollbar-thumb {
  background-color: #f5f9fa;
  border-radius: 10px;
  border: 2px solid #fff;
}

/* ................................................................. */

.profile {
  margin-top: 50px;
}

.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 19px;
}

.contact::after {
  content: "";
  width: 95%;
  height: 1px;
  background-color: grey;
  margin: auto;
  margin-top: 4px;
}

footer {
  padding-bottom: 10px;
  margin-top: 50px;
  color: #bed4ff;
  font-style: italic;
  font-size: 9px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.socials {
  font-size: 30px;
  margin-right: 18px;
  color: #5a5a5a;
}

.card {
  -webkit-box-shadow: 5px 5px 5px 1px azure;
  box-shadow: 5px 5px 5px 1px azure;
  margin-bottom: 20px;
  background-color: mintcream;
  border-radius: 5px;
  /* font-family: cursive, Chewy; */
}
.card-body > h3 {
  font-size: 14px;
  line-height: 25px;
}
.card a {
  font-size: 9px;
  opacity: 1;
  background: linear-gradient(180deg, #034750 0%, #22273b 97%);
  border: none;
}

a {
  text-decoration: none;
}

.btn-secondary:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-right: auto;
}

ul.transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

ul.transition li {
  background: white;
  width: 20%;
  margin: 0;
  padding: 0;
}

.hello {
  font-family: Chewy, monospace;

  color: green;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  margin-top: 180px;
}

.emoji {
  height: 100px;
  margin-bottom: 50px;
}

/* .menu:focus {
  border: none;
  outline: none;
} */

.backgroundColorWhite {
  background-color: #ebe5e5;
  color: black;
}

.telegramFillWhite {
  fill: #7a8389;
}

.footerColorWhite {
  color: #746c09;
}

.phoneColorWhite {
  fill: #998f8f;
}

.cardShadowWhite {
  -webkit-box-shadow: 5px 5px 5px 1px seashell;
  box-shadow: 5px 5px 5px 1px seashell;
}

.popover-header {
  color: slategray;
}

.popover-body {
  font-family: monospace;
}

/* MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES  */
/* 
Extra small     <576px
Small           >=576px
Medium          >=768px
Large           >=992px
Extra large     >=1200px
 */

@media (max-width: 408px) {
  /* ul.transition {
    height: 3100px;
  } */
}
@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 330px;
  }

  /* ul.transition {
    height: 2557px;
  } */
  .card {
    margin-right: 60px;
    margin-bottom: 26px;
    border-radius: 5px;
    width: 18px;
  }

  body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-appear {
    display: flex !important;
    flex-direction: column;
  }
  .footer-disappear {
    display: none;
  }
  .contact-disappear {
    display: none;
  }

  .html,
  .css,
  .py {
    height: 80px;
    width: 100px;
  }
  .py {
    margin-top: 32px !important;
  }
  .tools.js {
    height: 145px !important;
    width: 147px !important;
  }
  .tools.sass {
    height: 79px !important;
    width: 149px !important;
  }
  .tools.bootstrap {
    height: 79px !important;
    width: 80px !important;
  }
  .tools.node {
    height: 90px !important;
    width: 220px !important;
  }
  .tools.react {
    height: 129px !important;
    width: 176px !important;
  }
  .tools.mongo {
    margin-top: -13px !important;
    height: 123px !important;
    width: 122px !important;
  }
  .tools.materialize {
    height: 86px !important;
    width: 109px !important;
    margin-top: 15px;
  }
  .tools.git {
    height: 104px !important;
    width: 109px !important;
    margin-top: -3px;
  }
  .tools.jquery {
    height: 92px !important;
    width: 88px !important;
  }
  .tools.express {
    height: 65px !important;
    width: 140px !important;
  }
  .tools.regex {
    height: 64px !important;
    width: 140px !important;
  }
}
@media (min-width: 1168px) {
  /* body {
    max-width: 950px;
  } */
}
@media (max-width: 767px) {
  .card {
    width: 18em;
    margin-left: 20px;
  }
  #about {
    font-size: 8px !important;
    margin-left: 1px !important;
  }
}
@media (min-width: 1050px) {
  /* html::before {
    content: "";
    top: 50px;
    height: 2507px;
    width: 150px;
    right: 0px;
    position: absolute;
    opacity: 0.1;
    background-image: url("images/pngwing.com.png");
  }
  html::after {
    content: "";
    top: 50px;
    height: 2250px;
    width: 150px;
    left: 0px;
    position: absolute;
    opacity: 0.1;
    transform: rotate(180deg);
    background-image: url("images/pngwing.com.png");
  } */
  .card {
    /* border-radius: 0px; */
    /* border-top-left-radius:20px ; */
    /* border-bottom-right-radius:20px ; */
    /* height: 150px; */
  }
  /* .card a {
    margin-top: 40px;
  }
  svg[data-toggle=popover]{
    top: 117px !important;
  } */
}
