@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
}
.fill {
  fill: #14316a;
}
.phone {
  fill: white;
}
.root {
  background-color: #111;
  /* background-color: #151515; */
  /* background-color: black; */
  color: #fff;
  font-family: monospace, sans-serif;
  max-width: 720px;
  height: 100%;
}

.navbar.navbar-light.bg-dark.fixed-top {
  background-color: black !important;
  z-index: 3;
}

/* ...........................SCROLLBAR...................................... */
::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-track {
  background-color: #050303;
}

::-webkit-scrollbar-thumb {
  background-color: #f5f9fa;
  border-radius: 10px;
  border: 2px solid #fff;
}

/* ................................................................. */

.profile {
  margin-top: 50px;
}

.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 19px;
}

.contact::after {
  content: "";
  width: 95%;
  height: 1px;
  background-color: grey;
  margin: auto;
  margin-top: 4px;
}

footer {
  padding-bottom: 10px;
  margin-top: 50px;
  /* color: rgb(0 255 49 / 28%); */
  /* color: #bed4ff; */
  /* color: #9cff00; */
  /* color: rgb(5, 141, 159); */
  font-style: italic;
  font-size: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.socials {
  font-size: 30px;
  margin-right: 18px;
  color: #5a5a5a;
}
a {
  text-decoration: none;
}

.btn-secondary:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

ul.transition {
  position: fixed;
  height: 100%;
  display: flex;
  margin-right: auto;
  z-index: 10;
  width: 100%;
  left: 0;
  pointer-events: none;
  list-style: none;
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  /* padding: 0; */
  /* top: 0; */
  /* margin: 0; */
}

ul.transition li {
  background: white;
  width: 20%;
  margin: 0;
  padding: 0;
}

.hello {
  font-family: Chewy, monospace;

  color: green;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  margin-top: 180px;
}

.emoji {
  height: 100px;
  margin-bottom: 50px;
}

.backgroundColorWhite {
  background-color: #ebe5e5;
  color: black;
}

.telegramFillWhite {
  fill: #7a8389;
}

/* .footerColorWhite {
  color: #746c09;
} */

.phoneColorWhite {
  fill: #998f8f;
}

.popover-header {
  color: slategray;
}

.popover-body {
  font-family: monospace;
}

/* .........Cards................
 */
.projectCard {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 155px;
  height: 230px;
  background-color: #222;
  border-radius: 20px;
  overflow: hidden;

  --r: 20px; /* radius */
  --s: 20px; /* size of the inner curve */
  --x: 10px; /* horizontal offset  */
  --y: 15px; /* vertical offset*/

  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
        72%);
  --_g: conic-gradient(
    from 90deg at calc(100% - var(--r)) calc(100% - var(--r)),
    #0000 25%,
    #000 0
  );
  --_d: (var(--s) + var(--r));
  mask: calc(100% - var(--_d) - var(--x)) 100% var(--_m),
    100% calc(100% - var(--_d) - var(--y)) var(--_m),
    radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 calc(100% + 1px))
      calc(-1 * var(--r) - var(--x)) calc(-1 * var(--r) - var(--y)),
    var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
    var(--_g) 0 calc(-1 * var(--_d) - var(--y));
  mask-repeat: no-repeat;
}
.projectCard > h3 {
  font-size: 14px;
  color: #fff;
}
/* .projectCardsContainer > div:nth-child(2n) > div.button {
  background-color: rgb(5, 141, 159);
} */
.button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #9cff00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.button a {
  font-weight: bold;
  color: #111;
  transform: rotate(-45deg);
}

/* MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES  */
/* 
Extra small     <576px
Small           >=576px
Medium          >=768px
Large           >=992px
Extra large     >=1200px
 */

@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 330px;
  }
  /* ul.transition {
    height: 2557px;
  } */
  body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
